{% extends 'base.html' %}

{% block content %}
  <h2>{% if post %}Редактировать пост{% else %}Создать новый пост{% endif %}</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% if post %}Обновить пост{% else %}Создать пост{% endif %}</button>
  </form>
  {% if post %}
    <a href="{% url 'post_detail' pk=post.pk %}">Отменить</a>
  {% else %}
    <a href="{% url 'post_list' %}">Отменить</a>
  {% endif %}
{% endblock %}
